.slick-dots{
  position: absolute !important;
  top: 93% !important;
  height: fit-content;
}

.slick-dots li button::before{
  color: #ff006c !important;
  font-size: 13px !important;
}

.slick-arrow{
  display: none !important;
}

.slider-container .slick-arrow{
  display: flex !important;
}

.text-foreground{
  color: white !important;
}
